* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
      font-family: $principal-font;
      scroll-behavior: smooth;
      background-color: $bg-color;
  }

  .container-element {
      margin: 0 auto;
      max-width: 90%;
  }